@import url(https://fonts.googleapis.com/css2?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddddeb;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-color:#1f2847;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.heading{
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin: 50px;
}
label {
   display: block;
   font-size: 12px;
   margin-bottom: 10px;
   color: #fff;
   text-transform: capitalize;
   font-family:'Times New Roman', Times, serif ;
}
select {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    text-transform: capitalize;
    border-radius: 5px;
    margin-bottom:#fff;
    color:#1f2847;
    font-size: 14px;
}
.btn {
    color: purple;
    background-color: greenyellow;
    width: 100px;
    height: 60px;    
    border:none;
    cursor: pointer;
    margin-top: 40px;
    transition: all 0.3s linear;
    font-weight: 500;
    border-radius: 5px;
    font-size: 18px;
}

.btn:hover{
    background-color:black;
}
.btn:disabled{
    cursor: not-allowed;
    background-color:black;
}
.hide {
    display:none;
}
.timer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.timer .progress{
   position: relative;
   width: 100%;
   height: 40px;
   background-color: transparent;
   border-radius: 30px;
   overflow: hidden;
   margin-bottom: 10px;
   border: 3px solid #3f4868;
}
.timer .progress .progress-bar{
    width: 50%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    background: linear-gradient(to right, #ea517c, #b478f1);
    color: #0c80ef;
    transition: 1s linear;
}
.timer .progress .progress-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    font-weight: 500px;
}
.question-wrapper .number{
    color:#a2aace;
    font-size:25px;
    font-weight: 500;
    margin-bottom:20px;

}
.question-wrapper .number .total {
    color: #576081;
    font-size: 18px;
}
.question-wrapper .question{
    color: #fff;
    font-size:20px;
    font-weight: 500;
    margin-bottom:20px;
}
.answer-wrapper .answer{
    width: 100%;
    height: 60px;
    padding: 20px;
    border-radius:10px;
    color: #fff;
    border: 3px solid#3f4868;
    display: flex;
    align-items: center;
    margin-bottom:20px;
    justify-content:space-between;
    cursor: pointer;
    transition: 0.3s linear;
}
.answer .checkbox {
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    border: 3px solid #3f4868;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.answer .checkbox .icon {
    opacity: 0;
}
.answer:hover .checkbox,
.answer .selected .checkbox{ 
    background-color: #0c80ef;
    border-color: #0c80ef;

}
.answer .selected .checkbox .icon{
    opacity: 1;
} 
.answer .correct {
    border-color: #0cef2a;
}
.answer .wrong {
    border-color: #fc3939;
}
